.header{
    width: 100%;
    background-color: white;
    padding: 0 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.07);

    .title{
        font-size: 20px;
        font-weight: 600;
        color: rgb(109, 109, 109);
        letter-spacing: 1.2px;
    }

    .header-right{
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    .search-bar{
        position: relative;

        input{
            padding: 15px 20px;
            background-color: rgba(79, 123, 123, 0.1);
            border: none;
            border-radius: 10px;
        }

        svg{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: rgb(109, 109, 109);
        }
    }

    .icon-menu{
        color: rgb(109, 109, 109);
        padding:8px 10px ;
        border: 1px solid rgba(109, 109, 109, 0.115);
        border-radius: 5px;

        &:hover{
            background-color: rgba(109, 109, 109, 0.115);
            cursor: pointer;
        }
    }

    .admin {
        display: flex;
        align-items: center;
        height: 35px;
        background-color: rgba(79, 123, 123, 0.1);
        column-gap: 10px;
        border-radius: 10px;
        padding-right: 10px;

        img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 10px;
        }

        span{
            font-size: 12px;
        }
    }
}