.navigation {
    height: 100vh;
    overflow-y: auto;
    background-color: white;

    .logo-content {
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-content-left {
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .logo {
            background-color: white;
            color: white;
            padding: 0 10px;
            font-size: 40px;
            border-radius: 10px;
            background-color: $couleur1;
        }

        span {
            font-size: 25px;
            font-weight: 700;
            color: $couleur2;
        }

        .list-icon {
            font-size: 30px;
            color: $couleur1;
        }
    }

    .list-navigation {
        display: flex;
        flex-direction: column;
        padding: 15px 0;

        a {
            padding: 15px 30px;
            color: rgba(83, 113, 103, 0.757);
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 10px;

            svg{
                font-size: 25px;
            }

            &:hover{
                color: $couleur1;
            }

            &.nav-active{
                background-color: rgba(255, 0, 0, 0.174);
                color: $couleur1;
            }
        }
    }
}