.login {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.654),rgba(0,0,0,0.5)), url('./../../img/bg-login.jpg');
    background-size: cover;

    .login-content {
        width: 80vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        background-color: white;
    }

    //Image-left-login
    img.img-left {
        width: 100%;
        height: min-content;
        object-fit: cover;
    }

    .right-login{
        padding: 50px;
    }

    img.logo{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    h2{
        text-align: center;
    }

    .group-button,.action-login{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        column-gap: 20px;
        padding-top: 10px;
    }
    .action-login{
        font-size: 12px;
        padding-left: 2%;
        .remembers{
            display: flex;
            align-items: center;
            column-gap: 3px;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    }

    span{
        margin-top: 25px;
        text-align: center;
        display: block;
        position: relative;

        &::before,&::after{
            content:'';
            width: 100px;
            height: 2px;
            background-color: black;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }

        &::before{
            transform: translateX(-100%);
        }
    }

    .social-icons{
        display: flex;
        justify-content: center;
        column-gap: 5px;
        margin-top: 5px;
    }

    /********Forgot-password**********/
    .forgot-password{
        padding: 50px;
    }
}