$couleur1 : rgba(220, 31, 31, 0.85);
$couleur2 : rgba(0, 0, 0, 0.8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
}

// style for each page
.page {
    background-color: rgba(0, 0, 0, 0.07);
    display: grid;
    grid-template-columns: 280px 1fr;
}